* {
  padding: 0;
  margin: 0;
}

a:link {
  color: black;
}

a:visited {
  color: green;
}

a:hover {
  color: red;
}

a:active {
  color: blue;
}

.block:not(.first) {
  background: #fafafa;
  height: 200px;
  width: 500px;
  border: 2px solid #8307a1;
  margin-bottom: 20px;
  padding: 10px 10px 10px 100px;
}

#central_block {
  padding: 30px;
}

#central_block ul {
  list-style: none;
  display: inline-block;
}

#central_block li {
  float: left;
  margin-right: 10px;
}

#central_block li a {
  font-size: 1.1em;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: red;
}

#central_block li a:hover {
  color: orange;
}

#central_block a {
  font-size: 1.1em;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: orange;
}

.first {
  background: #fafafa;
  height: 100px;
  width: 500px;
  border: 2px solid #8307a1;
  margin-bottom: 20px;
}
