@mixin grid($columns, $margin) {
    float: left;
    background: #ce3d3d;
    margin-bottom: $margin;
    height: 150px;

    @if ($columns >= 5) {
        width: 100%;
        margin-right: 0;
    } 
    @else {
        width: ((100% - (($columns - 1) * $margin)) / $columns);
        margin-right: $margin;
    }

    &:nth-child(#{$columns}n) {
        margin-right: 0;
    }
}


//создание миксина, объявление параметров и пример объявления параметра по умолчанию
@mixin font($fontW, $color: red) {
    font-size: $mainFontSize;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: $color;
}

//передаем множество параметров
@mixin padd($padd...) {
    padding: $padd;
}

//внутрь миксина добавили шаблон с ссылкой
@mixin link($link, $hover, $active, $visited) {
    a {

        &:link {
            color: $link;
        }

        &:hover {
            color: lighten($color: $link, $amount: 50%);
        }

        &:active {
            color: $active;
        }

        @content
    }
}