//создание миксина, объявление параметров и пример объявления параметра по умолчанию
@mixin font($fontW, $color: red) {
    font-size: $mainFontSize;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: $color;
}

//передаем множество параметров
@mixin padd($padd...) {
    padding: $padd;
}

//внутрь миксина добавили шаблон с ссылкой
@mixin link($link, $hover, $active, $visited) {
    a {

        &:link {
            color: $link;
        }

        &:visited {
            color: $visited;
        }

        &:hover {
            color: $hover;
        }

        &:active {
            color: $active;
        }
    }
}