$bgColor: #fafafa;
$color: orange;
$blockWidth: 300px;
$border: 2px solid rgb(131, 7, 161);
$mainFontSize: 1.1em;


//создание миксина, объявление параметров и пример объявления параметра по умолчанию
@mixin font($fontW, $color: red) {
    font-size: $mainFontSize;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: $color;
}

//передаем множество параметров
@mixin padd($padd...) {
    padding: $padd;
}

* {
    padding: 0;
    margin: 0;
}

.block:not(.first) {
    background: $bgColor;
    height: 200px;
    width: $blockWidth;
    border: $border;
    margin-bottom: 20px;
    @include padd (10px 10px 10px 100px)
}

#central_block {
    padding: 30px;

    ul {
        list-style: none;
        display: inline-block;
    }

    li {
        float: left;
        margin-right: 10px;

        a {
            @include font(bold);
        }
    }

    a {
        //пример передачи параметров не по порядку
        @include font($color: $color, $fontW: ligth,)
    }
}

.first {
    background: $bgColor;
    height: 100px;
    width: $blockWidth;
    border: $border;
    margin-bottom: 20px;
}