@import 'mixins';
@import 'variables';

* {
    padding: 0;
    margin: 0;
}

.block:not(.first) {
    background: $bgColor;
    height: 200px;
    width: $blockWidth;
    border: $border;
    margin-bottom: 20px;
    @include padd (10px 10px 10px 100px)
}

#central_block {
    padding: 30px;

    ul {
        list-style: none;
        display: inline-block;
    }

    li {
        float: left;
        margin-right: 10px;

        a {
            @include font(bold);

            &:hover {
                color: orange;
            }
        }
    }

    a {
        //пример передачи параметров не по порядку
        @include font($color: $color, $fontW: ligth,)
    }
}

.first {
    background: $bgColor;
    height: 100px;
    width: $blockWidth;
    border: $border;
    margin-bottom: 20px;
}