@import 'mixins';
@import 'variables';

* {
    padding: 0;
    margin: 0;
}

//взяли и вставили этот миксин, в котором шаблон с ссылкой
@include link(black, red, blue, green);

.header {
    @include link(black, red, blue, green) {
        background: #000;

        &:visited {
            color: red
        }
    } 
}

#grid {
    float: left;
    width: 100%;

    > div {
        @include grid(4, 2%);
    }
}

@for $i from 24 to 29 {
    .#{$someVar}-#{$i} {
        width: 50px + $i;
        height: 50px + $i;
    }
}

.block:not(.first) {
    background: $bgColor;
    height: 200px;
    width: $blockWidth;
    border: $border;
    margin-bottom: 20px;
    @include padd (10px 10px 10px 100px)
}

#central_block {
    padding: 30px;

    ul {
        list-style: none;
        display: inline-block;
    }

    li {
        float: left;
        margin-right: 10px;

        a {
            @include font(bold);

            &:hover {
                color: orange;
            }
        }
    }

    a {
        //пример передачи параметров не по порядку
        @include font($color: $color, $fontW: ligth,)
    }
}

.first {
    background: $bgColor;
    height: 100px;
    width: $blockWidth;
    border: $border;
    margin-bottom: 20px;
}